@import "tailwindcss";
@plugin "daisyui";



/* Banner style */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease forwards;
}

.animate-fade-in-delay {
  animation: fadeIn 1.5s ease forwards;
}

.animate-fade-in-delay-2 {
  animation: fadeIn 2s ease forwards;
}

/* Banner style */


/* Details Service banner Color Overly */
.color-overly {
 background: #000;
background: linear-gradient(90deg,rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.53) 50%, rgba(0, 0, 0, 0.54) 100%);
}